# Build folders
build/
Debug/
Release/
ipch/
out/

# Dependencies folder
dependencies/

# Resources folder
res/cubemaps
res/planets
res/scenes
res/sponza
res/textures
res.zip

# Application produced files
imgui.ini
log.txt

# Visual Studio Files
.vs/
*.opensdf
*.sdf
*.suo
*.vcxproj.user

# Kdevelop files
*kdev4
